<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-end align-items-center">
            <a href="Identity/Account/Register" class="btn btn-outline-light me-2">Register</a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-outline-light">Log out</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex justify-content-end align-items-center">
            <a href="Identity/Account/Login" class="btn btn-outline-light">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>
