/* Page styles */

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #424848;
    color: #f5f5f5;
}

main {
    flex: 1;
}

/* Sidebar styles */

.sidebar {
    background-color: #273d45;
    color: #f5f5f5;
    position: sticky;
    top: 0;
    width: 250px;
    height: 100vh;
    overflow-y: auto;
}

.sidebar a {
    color: #f5f5f5;
}

.sidebar a:hover {
    background-color: #79b9d1;
    color: #273d45;
}

/* Top row styles */

.top-row {
    background-color: #273d45;
    color: #f5f5f5;
    border-bottom: 1px solid #d6d5d5;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

.top-row .navbar-brand {
    color: #f5f5f5;
    font-weight: bold;
    font-size: 1.5rem;
}

.top-row .navbar-toggler {
    background-color: #79b9d1;
    border-color: #79b9d1;
}

.top-row .navbar-toggler-icon {
    background-color: #f5f5f5;
}

.top-row a {
    color: #f5f5f5;
    margin-left: 1.5rem;
    white-space: nowrap;
}

.top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.top-row a:hover {
    background-color: #79b9d1;
    color: #273d45;
}

/* Navigation menu styles */

.flex-column {
    background-color: #273d45;
    color: #f5f5f5;
    position: fixed;
    top: 56px;
    left: 0;
    bottom: 0;
    width: 200px;
    overflow-y: auto;
    transition: all 0.3s;
}

.flex-column a {
    color: #f5f5f5;
    margin: 0;
    padding: 0.5rem 1rem;
}

.flex-column a:hover {
    background-color: #79b9d1;
    color: #273d45;
}

.flex-column .active a {
    background-color: #79b9d1;
    color: #273d45;
}

/* Responsive styles */

@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row a {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    article {
        flex: 1;
        padding-left: 2rem;
        padding-right: 1.5rem;
    }
}
