@page "/404"
@layout ErrorLayout
@using BluBlu.Blazor.Shared.Layouts

<div id="app">
   <div>404</div>
   <div class="txt">
      Not Found<span class="blink">_</span>
   </div>
   <a href="/" class="nav-link mt-5 pt-5">Home</a>
</div>

